<!--Application setting-->
<Setting>
  <GameDirectory>E:\SteamLibrary\steamapps\common\Empyrion - Galactic Survival</GameDirectory>
  <BlockConfigPath>Content\Configuration\BlocksConfig.ecf</BlockConfigPath>
  <BundlesSubDirectory>Content\Bundles</BundlesSubDirectory>
  <FileVersion>31</FileVersion>
</Setting>